# 0. Zeroth Law, load all the datasets!

In [1]:
import pandas as pd

df_dominant = pd.read_csv('datasett/train.csv')
df_breed = pd.read_csv('datasett/BreedLabels.csv')
df_color = pd.read_csv('datasett/ColorLabels.csv')
df_state = pd.read_csv('datasett/StateLabels.csv')

df_dominant

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,2,NaN,2,266,0,3,1,0,0,2,...,1,4,0,41326,61c84bd7bcb6fb31d2d480b1bcf9682e,0,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2
14989,2,Serato & Eddie,60,265,264,3,1,4,7,2,...,1,2,0,41326,1d5096c4a5e159a3b750c5cfcf6ceabf,0,Serato(female cat- 3 color) is 4 years old and...,a01ab5b30,3.0,4
14990,2,Monkies,2,265,266,3,5,6,7,3,...,1,5,30,41326,6f40a7acfad5cc0bb3e44591ea446c05,0,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3
14991,2,Ms Daym,9,266,0,2,4,7,0,1,...,1,1,0,41336,c311c0c569245baa147d91fa4e351ae4,0,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4
14992,1,Fili,1,307,307,1,2,0,0,2,...,1,1,0,41332,9ed1d5493d223eaa5024c1a031dbc9c2,0,Fili just loves laying around and also loves b...,a83d95ead,1.0,3

# 1. Data Preprocessing by replacing numbers to attribute

- PetID - Unique hash ID of pet profile
- AdoptionSpeed - Categorical speed of adoption. Lower is faster. This is the value to predict. See below section for more info.
- Type - Type of animal (1 = Dog, 2 = Cat)
- Name - Name of pet (Empty if not named)
- Age - Age of pet when listed, in months
- Breed1 - Primary breed of pet (Refer to BreedLabels dictionary)
- Breed2 - Secondary breed of pet, if pet is of mixed breed (Refer to BreedLabels dictionary)
- Gender - Gender of pet (1 = Male, 2 = Female, 3 = Mixed, if profile represents group of pets)
- Color1 - Color 1 of pet (Refer to ColorLabels dictionary)
- Color2 - Color 2 of pet (Refer to ColorLabels dictionary)
- Color3 - Color 3 of pet (Refer to ColorLabels dictionary)
- MaturitySize - Size at maturity (1 = Small, 2 = Medium, 3 = Large, 4 = Extra Large, 0 = Not Specified)
- FurLength - Fur length (1 = Short, 2 = Medium, 3 = Long, 0 = Not Specified)
- Vaccinated - Pet has been vaccinated (1 = Yes, 2 = No, 3 = Not Sure)
- Dewormed - Pet has been dewormed (1 = Yes, 2 = No, 3 = Not Sure)
- Sterilized - Pet has been spayed / neutered (1 = Yes, 2 = No, 3 = Not Sure)
- Health - Health Condition (1 = Healthy, 2 = Minor Injury, 3 = Serious Injury, 0 = Not Specified)
- Quantity - Number of pets represented in profile
- Fee - Adoption fee (0 = Free)
- State - State location in Malaysia (Refer to StateLabels dictionary)
- RescuerID - Unique hash ID of rescuer
- VideoAmt - Total uploaded videos for this pet
- PhotoAmt - Total uploaded photos for this pet
- Description - Profile write-up for this pet. The primary language used is English, with some in Malay or Chinese.

In [19]:
df_processed = df_dominant

Merging State from df_state

In [20]:
df_processed = df_processed.merge(df_state, left_on='State', right_on='StateID', how='left') # Bring the StateName from df_
df_processed

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,StateID,StateName
0,2,Nibble,3,299,0,1,1,7,0,1,...,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,41326,Selangor
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,41401,Kuala Lumpur
2,1,Brisco,1,307,0,1,2,7,0,2,...,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,41326,Selangor
3,1,Miko,4,307,0,2,1,2,0,2,...,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,41401,Kuala Lumpur
4,1,Hunter,1,307,0,1,1,0,0,2,...,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,41326,Selangor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,2,NaN,2,266,0,3,1,0,0,2,...,0,41326,61c84bd7bcb6fb31d2d480b1bcf9682e,0,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2,41326,Selangor
14989,2,Serato & Eddie,60,265,264,3,1,4,7,2,...,0,41326,1d5096c4a5e159a3b750c5cfcf6ceabf,0,Serato(female cat- 3 color) is 4 years old and...,a01ab5b30,3.0,4,41326,Selangor
14990,2,Monkies,2,265,266,3,5,6,7,3,...,30,41326,6f40a7acfad5cc0bb3e44591ea446c05,0,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3,41326,Selangor
14991,2,Ms Daym,9,266,0,2,4,7,0,1,...,0,41336,c311c0c569245baa147d91fa4e351ae4,0,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4,41336,Johor
14992,1,Fili,1,307,307,1,2,0,0,2,...,0,41332,9ed1d5493d223eaa5024c1a031dbc9c2,0,Fili just loves laying around and also loves b...,a83d95ead,1.0,3,41332,Negeri Sembilan

In [21]:
# rename stateID to state
df_processed = df_processed.drop(columns=['State','StateID'])
df_processed = df_processed.rename(columns={'StateName':'State'})
df_processed

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,State
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,Selangor
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,Kuala Lumpur
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,Selangor
3,1,Miko,4,307,0,2,1,2,0,2,...,1,1,150,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,Kuala Lumpur
4,1,Hunter,1,307,0,1,1,0,0,2,...,1,1,0,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,Selangor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,2,NaN,2,266,0,3,1,0,0,2,...,1,4,0,61c84bd7bcb6fb31d2d480b1bcf9682e,0,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2,Selangor
14989,2,Serato & Eddie,60,265,264,3,1,4,7,2,...,1,2,0,1d5096c4a5e159a3b750c5cfcf6ceabf,0,Serato(female cat- 3 color) is 4 years old and...,a01ab5b30,3.0,4,Selangor
14990,2,Monkies,2,265,266,3,5,6,7,3,...,1,5,30,6f40a7acfad5cc0bb3e44591ea446c05,0,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3,Selangor
14991,2,Ms Daym,9,266,0,2,4,7,0,1,...,1,1,0,c311c0c569245baa147d91fa4e351ae4,0,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4,Johor
14992,1,Fili,1,307,307,1,2,0,0,2,...,1,1,0,9ed1d5493d223eaa5024c1a031dbc9c2,0,Fili just loves laying around and also loves b...,a83d95ead,1.0,3,Negeri Sembilan

Merging breed from df_breed

In [22]:
df_breed

     BreedID  Type         BreedName
0          1     1     Affenpinscher
1          2     1      Afghan Hound
2          3     1  Airedale Terrier
3          4     1            Akbash
4          5     1             Akita
..       ...   ...               ...
302      302     2            Torbie
303      303     2     Tortoiseshell
304      304     2    Turkish Angora
305      305     2       Turkish Van
306      306     2            Tuxedo

[307 rows x 3 columns]

There is 2 columns for breed, which is breed1 and breed2. 
If breed2 is zero, it means the animal is pure blooded, while if breed2 is a number, the animal is mixed with 2 types of breed.

For pureblooded, i will copy the breed1 to breed2.

In [23]:
df_processed.loc[df_processed['Breed2'] == 0, 'Breed2'] = df_processed['Breed1']

In [24]:
# get data from df_breed to df_processed
df_processed = df_processed.merge(df_breed, left_on=['Type','Breed1'], right_on=['Type','BreedID'], how='left')
df_processed

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Fee,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,State,BreedID,BreedName
0,2,Nibble,3,299,299,1,1,7,0,1,...,100,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,Selangor,299.0,Tabby
1,2,No Name Yet,1,265,265,1,1,2,0,2,...,0,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,Kuala Lumpur,265.0,Domestic Medium Hair
2,1,Brisco,1,307,307,1,2,7,0,2,...,0,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,Selangor,307.0,Mixed Breed
3,1,Miko,4,307,307,2,1,2,0,2,...,150,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,Kuala Lumpur,307.0,Mixed Breed
4,1,Hunter,1,307,307,1,1,0,0,2,...,0,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,Selangor,307.0,Mixed Breed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,2,NaN,2,266,266,3,1,0,0,2,...,0,61c84bd7bcb6fb31d2d480b1bcf9682e,0,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2,Selangor,266.0,Domestic Short Hair
14989,2,Serato & Eddie,60,265,264,3,1,4,7,2,...,0,1d5096c4a5e159a3b750c5cfcf6ceabf,0,Serato(female cat- 3 color) is 4 years old and...,a01ab5b30,3.0,4,Selangor,265.0,Domestic Medium Hair
14990,2,Monkies,2,265,266,3,5,6,7,3,...,30,6f40a7acfad5cc0bb3e44591ea446c05,0,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3,Selangor,265.0,Domestic Medium Hair
14991,2,Ms Daym,9,266,266,2,4,7,0,1,...,0,c311c0c569245baa147d91fa4e351ae4,0,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4,Johor,266.0,Domestic Short Hair
14992,1,Fili,1,307,307,1,2,0,0,2,...,0,9ed1d5493d223eaa5024c1a031dbc9c2,0,Fili just loves laying around and also loves b...,a83d95ead,1.0,3,Negeri Sembilan,307.0,Mixed Breed

In [25]:
# get data from df_breed to df_processed but for breed2
df_processed = df_processed.merge(df_breed, left_on=['Type','Breed2'], right_on=['Type','BreedID'], how='left')
df_processed

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,State,BreedID_x,BreedName_x,BreedID_y,BreedName_y
0,2,Nibble,3,299,299,1,1,7,0,1,...,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,Selangor,299.0,Tabby,299.0,Tabby
1,2,No Name Yet,1,265,265,1,1,2,0,2,...,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,Kuala Lumpur,265.0,Domestic Medium Hair,265.0,Domestic Medium Hair
2,1,Brisco,1,307,307,1,2,7,0,2,...,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,Selangor,307.0,Mixed Breed,307.0,Mixed Breed
3,1,Miko,4,307,307,2,1,2,0,2,...,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,Kuala Lumpur,307.0,Mixed Breed,307.0,Mixed Breed
4,1,Hunter,1,307,307,1,1,0,0,2,...,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,Selangor,307.0,Mixed Breed,307.0,Mixed Breed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,2,NaN,2,266,266,3,1,0,0,2,...,0,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2,Selangor,266.0,Domestic Short Hair,266.0,Domestic Short Hair
14989,2,Serato & Eddie,60,265,264,3,1,4,7,2,...,0,Serato(female cat- 3 color) is 4 years old and...,a01ab5b30,3.0,4,Selangor,265.0,Domestic Medium Hair,264.0,Domestic Long Hair
14990,2,Monkies,2,265,266,3,5,6,7,3,...,0,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3,Selangor,265.0,Domestic Medium Hair,266.0,Domestic Short Hair
14991,2,Ms Daym,9,266,266,2,4,7,0,1,...,0,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4,Johor,266.0,Domestic Short Hair,266.0,Domestic Short Hair
14992,1,Fili,1,307,307,1,2,0,0,2,...,0,Fili just loves laying around and also loves b...,a83d95ead,1.0,3,Negeri Sembilan,307.0,Mixed Breed,307.0,Mixed Breed

- Type - Type of animal (1 = Dog, 2 = Cat)
- Gender - Gender of pet (1 = Male, 2 = Female, 3 = Mixed, if profile represents group of pets)
- MaturitySize - Size at maturity (1 = Small, 2 = Medium, 3 = Large, 4 = Extra Large, 0 = Not Specified)
- FurLength - Fur length (1 = Short, 2 = Medium, 3 = Long, 0 = Not Specified)
- Vaccinated - Pet has been vaccinated (1 = Yes, 2 = No, 3 = Not Sure)
- Dewormed - Pet has been dewormed (1 = Yes, 2 = No, 3 = Not Sure)
- Sterilized - Pet has been spayed / neutered (1 = Yes, 2 = No, 3 = Not Sure)
- Health - Health Condition (1 = Healthy, 2 = Minor Injury, 3 = Serious Injury, 0 = Not Specified)

In [28]:
df_processed.columns

Index(['Type', 'Name', 'Age', 'Breed1', 'Breed2', 'Gender', 'Color1', 'Color2',
       'Color3', 'MaturitySize', 'FurLength', 'Vaccinated', 'Dewormed',
       'Sterilized', 'Health', 'Quantity', 'Fee', 'RescuerID', 'VideoAmt',
       'Description', 'PetID', 'PhotoAmt', 'AdoptionSpeed', 'State',
       'BreedID_x', 'BreedName_x', 'BreedID_y', 'BreedName_y'],
      dtype='object')

In [29]:
df_processed['Type'] = df_processed['Type'].replace({1:'Dog',2:'Cat'})
df_processed['Gender'] = df_processed['Gender'].replace({1:'Male',2:'Female',3:'Mixed'})
df_processed['MaturitySize'] = df_processed['MaturitySize'].replace({1:'Small',2:'Medium',3:'Large',4:'Extra Large',0:'NA'})
df_processed['FurLength'] = df_processed['FurLength'].replace({1:'Short',2:'Medium',3:'Long',0:'NA'})
df_processed['Vaccinated'] = df_processed['Vaccinated'].replace({1:'Yes',2:'No',3:'NA'})
df_processed['Dewormed'] = df_processed['Dewormed'].replace({1:'Yes',2:'No',3:'NA'})
df_processed['Sterilized'] = df_processed['Sterilized'].replace({1:'Yes',2:'No',3:'NA'})
df_processed['Health'] = df_processed['Health'].replace({1:'Healthy',2:'Minor Injury',3:'Serious Injury',0:'NA'})

In [30]:
df_processed

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,State,BreedID_x,BreedName_x,BreedID_y,BreedName_y
0,Cat,Nibble,3,299,299,Male,1,7,0,Small,...,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,Selangor,299.0,Tabby,299.0,Tabby
1,Cat,No Name Yet,1,265,265,Male,1,2,0,Medium,...,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,Kuala Lumpur,265.0,Domestic Medium Hair,265.0,Domestic Medium Hair
2,Dog,Brisco,1,307,307,Male,2,7,0,Medium,...,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,Selangor,307.0,Mixed Breed,307.0,Mixed Breed
3,Dog,Miko,4,307,307,Female,1,2,0,Medium,...,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,Kuala Lumpur,307.0,Mixed Breed,307.0,Mixed Breed
4,Dog,Hunter,1,307,307,Male,1,0,0,Medium,...,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,Selangor,307.0,Mixed Breed,307.0,Mixed Breed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,Cat,NaN,2,266,266,Mixed,1,0,0,Medium,...,0,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2,Selangor,266.0,Domestic Short Hair,266.0,Domestic Short Hair
14989,Cat,Serato & Eddie,60,265,264,Mixed,1,4,7,Medium,...,0,Serato(female cat- 3 color) is 4 years old and...,a01ab5b30,3.0,4,Selangor,265.0,Domestic Medium Hair,264.0,Domestic Long Hair
14990,Cat,Monkies,2,265,266,Mixed,5,6,7,Large,...,0,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3,Selangor,265.0,Domestic Medium Hair,266.0,Domestic Short Hair
14991,Cat,Ms Daym,9,266,266,Female,4,7,0,Small,...,0,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4,Johor,266.0,Domestic Short Hair,266.0,Domestic Short Hair
14992,Dog,Fili,1,307,307,Male,2,0,0,Medium,...,0,Fili just loves laying around and also loves b...,a83d95ead,1.0,3,Negeri Sembilan,307.0,Mixed Breed,307.0,Mixed Breed

There is 3 columns for color, which is color1 color2 color3

if color 2 || color 3 is 0, it means the animal is pure colored
therefore i will copy besides the color

In [34]:
color_mapping = {1:'Black',2:'Brown',3:'Golden',4:'Yellow',5:'Cream',6:'Gray',7:'White'}

df_processed[['Color1','Color2','Color3']] = df_processed[['Color1','Color2','Color3']].replace(color_mapping)
df_processed

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,State,BreedID_x,BreedName_x,BreedID_y,BreedName_y
0,Cat,Nibble,3,299,299,Male,Black,White,0,Small,...,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,Selangor,299.0,Tabby,299.0,Tabby
1,Cat,No Name Yet,1,265,265,Male,Black,Brown,0,Medium,...,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,Kuala Lumpur,265.0,Domestic Medium Hair,265.0,Domestic Medium Hair
2,Dog,Brisco,1,307,307,Male,Brown,White,0,Medium,...,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,Selangor,307.0,Mixed Breed,307.0,Mixed Breed
3,Dog,Miko,4,307,307,Female,Black,Brown,0,Medium,...,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,Kuala Lumpur,307.0,Mixed Breed,307.0,Mixed Breed
4,Dog,Hunter,1,307,307,Male,Black,0,0,Medium,...,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,Selangor,307.0,Mixed Breed,307.0,Mixed Breed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,Cat,NaN,2,266,266,Mixed,Black,0,0,Medium,...,0,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2,Selangor,266.0,Domestic Short Hair,266.0,Domestic Short Hair
14989,Cat,Serato & Eddie,60,265,264,Mixed,Black,Yellow,White,Medium,...,0,Serato(female cat- 3 color) is 4 years old and...,a01ab5b30,3.0,4,Selangor,265.0,Domestic Medium Hair,264.0,Domestic Long Hair
14990,Cat,Monkies,2,265,266,Mixed,Cream,Gray,White,Large,...,0,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3,Selangor,265.0,Domestic Medium Hair,266.0,Domestic Short Hair
14991,Cat,Ms Daym,9,266,266,Female,Yellow,White,0,Small,...,0,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4,Johor,266.0,Domestic Short Hair,266.0,Domestic Short Hair
14992,Dog,Fili,1,307,307,Male,Brown,0,0,Medium,...,0,Fili just loves laying around and also loves b...,a83d95ead,1.0,3,Negeri Sembilan,307.0,Mixed Breed,307.0,Mixed Breed

In [36]:
# check for null
zero_count = (df_processed['Color1'] == 0).sum()
print(zero_count)
zero_count = (df_processed['Color2'] == 0).sum()
print(zero_count)
zero_count = (df_processed['Color3'] == 0).sum()
print(zero_count)

0
4471
10604

In [37]:
# apply color1 to color2
df_processed['Color2'] = df_processed.apply(lambda row: row['Color1'] if row['Color2'] == 0 else row['Color2'], axis=1)
# apply color2 to color3
df_processed['Color3'] = df_processed.apply(lambda row: row['Color2'] if row['Color3'] == 0 else row['Color3'], axis=1)
df_processed

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,State,BreedID_x,BreedName_x,BreedID_y,BreedName_y
0,Cat,Nibble,3,299,299,Male,Black,White,White,Small,...,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,Selangor,299.0,Tabby,299.0,Tabby
1,Cat,No Name Yet,1,265,265,Male,Black,Brown,Brown,Medium,...,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,Kuala Lumpur,265.0,Domestic Medium Hair,265.0,Domestic Medium Hair
2,Dog,Brisco,1,307,307,Male,Brown,White,White,Medium,...,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,Selangor,307.0,Mixed Breed,307.0,Mixed Breed
3,Dog,Miko,4,307,307,Female,Black,Brown,Brown,Medium,...,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,Kuala Lumpur,307.0,Mixed Breed,307.0,Mixed Breed
4,Dog,Hunter,1,307,307,Male,Black,Black,Black,Medium,...,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,Selangor,307.0,Mixed Breed,307.0,Mixed Breed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,Cat,NaN,2,266,266,Mixed,Black,Black,Black,Medium,...,0,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2,Selangor,266.0,Domestic Short Hair,266.0,Domestic Short Hair
14989,Cat,Serato & Eddie,60,265,264,Mixed,Black,Yellow,White,Medium,...,0,Serato(female cat- 3 color) is 4 years old and...,a01ab5b30,3.0,4,Selangor,265.0,Domestic Medium Hair,264.0,Domestic Long Hair
14990,Cat,Monkies,2,265,266,Mixed,Cream,Gray,White,Large,...,0,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3,Selangor,265.0,Domestic Medium Hair,266.0,Domestic Short Hair
14991,Cat,Ms Daym,9,266,266,Female,Yellow,White,White,Small,...,0,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4,Johor,266.0,Domestic Short Hair,266.0,Domestic Short Hair
14992,Dog,Fili,1,307,307,Male,Brown,Brown,Brown,Medium,...,0,Fili just loves laying around and also loves b...,a83d95ead,1.0,3,Negeri Sembilan,307.0,Mixed Breed,307.0,Mixed Breed

Data transfer should all be settled!

# 2. Data Preprocessing for Null

In [40]:
df_processed.isnull().sum()

Type                0
Name             1265
Age                 0
Breed1              0
Breed2              0
Gender              0
Color1              0
Color2              0
Color3              0
MaturitySize        0
FurLength           0
Vaccinated          0
Dewormed            0
Sterilized          0
Health              0
Quantity            0
Fee                 0
RescuerID           0
VideoAmt            0
Description        13
PetID               0
PhotoAmt            0
AdoptionSpeed       0
State               0
BreedID_x          17
BreedName_x        17
BreedID_y          12
BreedName_y        12
dtype: int64

- Name shouldn't be a big problem, so I would just put a generic name.
- The description, breedid x and y is a small portion of the entire thing (14k entry), so easy drop

In [41]:
df_processed['Name'] = df_processed['Name'].fillna('Still Water')

In [42]:
df_processed = df_processed.dropna(subset=['BreedID_x','Description','BreedID_y'])

In [43]:
df_processed.isnull().sum()

Type             0
Name             0
Age              0
Breed1           0
Breed2           0
Gender           0
Color1           0
Color2           0
Color3           0
MaturitySize     0
FurLength        0
Vaccinated       0
Dewormed         0
Sterilized       0
Health           0
Quantity         0
Fee              0
RescuerID        0
VideoAmt         0
Description      0
PetID            0
PhotoAmt         0
AdoptionSpeed    0
State            0
BreedID_x        0
BreedName_x      0
BreedID_y        0
BreedName_y      0
dtype: int64

In [44]:
df_processed

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,State,BreedID_x,BreedName_x,BreedID_y,BreedName_y
0,Cat,Nibble,3,299,299,Male,Black,White,White,Small,...,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,Selangor,299.0,Tabby,299.0,Tabby
1,Cat,No Name Yet,1,265,265,Male,Black,Brown,Brown,Medium,...,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,Kuala Lumpur,265.0,Domestic Medium Hair,265.0,Domestic Medium Hair
2,Dog,Brisco,1,307,307,Male,Brown,White,White,Medium,...,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,Selangor,307.0,Mixed Breed,307.0,Mixed Breed
3,Dog,Miko,4,307,307,Female,Black,Brown,Brown,Medium,...,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,Kuala Lumpur,307.0,Mixed Breed,307.0,Mixed Breed
4,Dog,Hunter,1,307,307,Male,Black,Black,Black,Medium,...,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,Selangor,307.0,Mixed Breed,307.0,Mixed Breed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,Cat,Still Water,2,266,266,Mixed,Black,Black,Black,Medium,...,0,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2,Selangor,266.0,Domestic Short Hair,266.0,Domestic Short Hair
14989,Cat,Serato & Eddie,60,265,264,Mixed,Black,Yellow,White,Medium,...,0,Serato(female cat- 3 color) is 4 years old and...,a01ab5b30,3.0,4,Selangor,265.0,Domestic Medium Hair,264.0,Domestic Long Hair
14990,Cat,Monkies,2,265,266,Mixed,Cream,Gray,White,Large,...,0,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3,Selangor,265.0,Domestic Medium Hair,266.0,Domestic Short Hair
14991,Cat,Ms Daym,9,266,266,Female,Yellow,White,White,Small,...,0,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4,Johor,266.0,Domestic Short Hair,266.0,Domestic Short Hair
14992,Dog,Fili,1,307,307,Male,Brown,Brown,Brown,Medium,...,0,Fili just loves laying around and also loves b...,a83d95ead,1.0,3,Negeri Sembilan,307.0,Mixed Breed,307.0,Mixed Breed

In [45]:
import os
os.makedirs('output',exist_ok=True)
df_processed.to_csv('output/test.csv',index=True)

Now that we have import and merge the numbers, we should drop it
I am dropping
- Breed1
- Breed2
- RescuerID
- Description
- BreedID_x
- BreedID_y

In [46]:
df_processed = df_processed.drop(columns=['Breed1', 'Breed2','RescuerID','Description','BreedID_x','BreedID_y'])

In [47]:
df_processed

,Type,Name,Age,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,...,Health,Quantity,Fee,VideoAmt,PetID,PhotoAmt,AdoptionSpeed,State,BreedName_x,BreedName_y
0,Cat,Nibble,3,Male,Black,White,White,Small,Short,No,...,Healthy,1,100,0,86e1089a3,1.0,2,Selangor,Tabby,Tabby
1,Cat,No Name Yet,1,Male,Black,Brown,Brown,Medium,Medium,NA,...,Healthy,1,0,0,6296e909a,2.0,0,Kuala Lumpur,Domestic Medium Hair,Domestic Medium Hair
2,Dog,Brisco,1,Male,Brown,White,White,Medium,Medium,Yes,...,Healthy,1,0,0,3422e4906,7.0,3,Selangor,Mixed Breed,Mixed Breed
3,Dog,Miko,4,Female,Black,Brown,Brown,Medium,Short,Yes,...,Healthy,1,150,0,5842f1ff5,8.0,2,Kuala Lumpur,Mixed Breed,Mixed Breed
4,Dog,Hunter,1,Male,Black,Black,Black,Medium,Short,No,...,Healthy,1,0,0,850a43f90,3.0,2,Selangor,Mixed Breed,Mixed Breed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,Cat,Still Water,2,Mixed,Black,Black,Black,Medium,Medium,No,...,Healthy,4,0,0,dc0935a84,3.0,2,Selangor,Domestic Short Hair,Domestic Short Hair
14989,Cat,Serato & Eddie,60,Mixed,Black,Yellow,White,Medium,Medium,Yes,...,Healthy,2,0,0,a01ab5b30,3.0,4,Selangor,Domestic Medium Hair,Domestic Long Hair
14990,Cat,Monkies,2,Mixed,Cream,Gray,White,Large,Medium,No,...,Healthy,5,30,0,d981b6395,5.0,3,Selangor,Domestic Medium Hair,Domestic Short Hair
14991,Cat,Ms Daym,9,Female,Yellow,White,White,Small,Short,Yes,...,Healthy,1,0,0,e4da1c9e4,3.0,4,Johor,Domestic Short Hair,Domestic Short Hair
14992,Dog,Fili,1,Male,Brown,Brown,Brown,Medium,Short,No,...,Healthy,1,0,0,a83d95ead,1.0,3,Negeri Sembilan,Mixed Breed,Mixed Breed

# 3. Formatting and Beautifying

Rearrange column position!

In [48]:
df_processed = df_processed[['PetID','Type','Name','Age','BreedName_x','BreedName_y','Gender','Color1','Color2','Color3','MaturitySize','FurLength','Vaccinated','Dewormed','Sterilized','Health','State','Quantity','Fee','VideoAmt','PhotoAmt','AdoptionSpeed']]

In [49]:
df_processed

,PetID,Type,Name,Age,BreedName_x,BreedName_y,Gender,Color1,Color2,Color3,...,Vaccinated,Dewormed,Sterilized,Health,State,Quantity,Fee,VideoAmt,PhotoAmt,AdoptionSpeed
0,86e1089a3,Cat,Nibble,3,Tabby,Tabby,Male,Black,White,White,...,No,No,No,Healthy,Selangor,1,100,0,1.0,2
1,6296e909a,Cat,No Name Yet,1,Domestic Medium Hair,Domestic Medium Hair,Male,Black,Brown,Brown,...,NA,NA,NA,Healthy,Kuala Lumpur,1,0,0,2.0,0
2,3422e4906,Dog,Brisco,1,Mixed Breed,Mixed Breed,Male,Brown,White,White,...,Yes,Yes,No,Healthy,Selangor,1,0,0,7.0,3
3,5842f1ff5,Dog,Miko,4,Mixed Breed,Mixed Breed,Female,Black,Brown,Brown,...,Yes,Yes,No,Healthy,Kuala Lumpur,1,150,0,8.0,2
4,850a43f90,Dog,Hunter,1,Mixed Breed,Mixed Breed,Male,Black,Black,Black,...,No,No,No,Healthy,Selangor,1,0,0,3.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,dc0935a84,Cat,Still Water,2,Domestic Short Hair,Domestic Short Hair,Mixed,Black,Black,Black,...,No,No,No,Healthy,Selangor,4,0,0,3.0,2
14989,a01ab5b30,Cat,Serato & Eddie,60,Domestic Medium Hair,Domestic Long Hair,Mixed,Black,Yellow,White,...,Yes,Yes,Yes,Healthy,Selangor,2,0,0,3.0,4
14990,d981b6395,Cat,Monkies,2,Domestic Medium Hair,Domestic Short Hair,Mixed,Cream,Gray,White,...,No,Yes,NA,Healthy,Selangor,5,30,0,5.0,3
14991,e4da1c9e4,Cat,Ms Daym,9,Domestic Short Hair,Domestic Short Hair,Female,Yellow,White,White,...,Yes,Yes,Yes,Healthy,Johor,1,0,0,3.0,4
14992,a83d95ead,Dog,Fili,1,Mixed Breed,Mixed Breed,Male,Brown,Brown,Brown,...,No,No,No,Healthy,Negeri Sembilan,1,0,0,1.0,3

Change BreedName x and y to Breed1 and Breed2

In [51]:
df_processed = df_processed.rename(columns={'BreedName_x':'Breed1','BreedName_y':'Breed2'})
df_processed

,PetID,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,...,Vaccinated,Dewormed,Sterilized,Health,State,Quantity,Fee,VideoAmt,PhotoAmt,AdoptionSpeed
0,86e1089a3,Cat,Nibble,3,Tabby,Tabby,Male,Black,White,White,...,No,No,No,Healthy,Selangor,1,100,0,1.0,2
1,6296e909a,Cat,No Name Yet,1,Domestic Medium Hair,Domestic Medium Hair,Male,Black,Brown,Brown,...,NA,NA,NA,Healthy,Kuala Lumpur,1,0,0,2.0,0
2,3422e4906,Dog,Brisco,1,Mixed Breed,Mixed Breed,Male,Brown,White,White,...,Yes,Yes,No,Healthy,Selangor,1,0,0,7.0,3
3,5842f1ff5,Dog,Miko,4,Mixed Breed,Mixed Breed,Female,Black,Brown,Brown,...,Yes,Yes,No,Healthy,Kuala Lumpur,1,150,0,8.0,2
4,850a43f90,Dog,Hunter,1,Mixed Breed,Mixed Breed,Male,Black,Black,Black,...,No,No,No,Healthy,Selangor,1,0,0,3.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,dc0935a84,Cat,Still Water,2,Domestic Short Hair,Domestic Short Hair,Mixed,Black,Black,Black,...,No,No,No,Healthy,Selangor,4,0,0,3.0,2
14989,a01ab5b30,Cat,Serato & Eddie,60,Domestic Medium Hair,Domestic Long Hair,Mixed,Black,Yellow,White,...,Yes,Yes,Yes,Healthy,Selangor,2,0,0,3.0,4
14990,d981b6395,Cat,Monkies,2,Domestic Medium Hair,Domestic Short Hair,Mixed,Cream,Gray,White,...,No,Yes,NA,Healthy,Selangor,5,30,0,5.0,3
14991,e4da1c9e4,Cat,Ms Daym,9,Domestic Short Hair,Domestic Short Hair,Female,Yellow,White,White,...,Yes,Yes,Yes,Healthy,Johor,1,0,0,3.0,4
14992,a83d95ead,Dog,Fili,1,Mixed Breed,Mixed Breed,Male,Brown,Brown,Brown,...,No,No,No,Healthy,Negeri Sembilan,1,0,0,1.0,3

Make 0,1,2 as fast while 3,4 slow in adoption speed

In [52]:
df_processed['AdoptionSpeedBool'] = df_processed['AdoptionSpeed'].replace({0:'Fast',1:'Fast',2:'Fast',3:'Slow',4:'Slow'})
df_processed

,PetID,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,...,Dewormed,Sterilized,Health,State,Quantity,Fee,VideoAmt,PhotoAmt,AdoptionSpeed,AdoptionSpeedBool
0,86e1089a3,Cat,Nibble,3,Tabby,Tabby,Male,Black,White,White,...,No,No,Healthy,Selangor,1,100,0,1.0,2,Fast
1,6296e909a,Cat,No Name Yet,1,Domestic Medium Hair,Domestic Medium Hair,Male,Black,Brown,Brown,...,NA,NA,Healthy,Kuala Lumpur,1,0,0,2.0,0,Fast
2,3422e4906,Dog,Brisco,1,Mixed Breed,Mixed Breed,Male,Brown,White,White,...,Yes,No,Healthy,Selangor,1,0,0,7.0,3,Slow
3,5842f1ff5,Dog,Miko,4,Mixed Breed,Mixed Breed,Female,Black,Brown,Brown,...,Yes,No,Healthy,Kuala Lumpur,1,150,0,8.0,2,Fast
4,850a43f90,Dog,Hunter,1,Mixed Breed,Mixed Breed,Male,Black,Black,Black,...,No,No,Healthy,Selangor,1,0,0,3.0,2,Fast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,dc0935a84,Cat,Still Water,2,Domestic Short Hair,Domestic Short Hair,Mixed,Black,Black,Black,...,No,No,Healthy,Selangor,4,0,0,3.0,2,Fast
14989,a01ab5b30,Cat,Serato & Eddie,60,Domestic Medium Hair,Domestic Long Hair,Mixed,Black,Yellow,White,...,Yes,Yes,Healthy,Selangor,2,0,0,3.0,4,Slow
14990,d981b6395,Cat,Monkies,2,Domestic Medium Hair,Domestic Short Hair,Mixed,Cream,Gray,White,...,Yes,NA,Healthy,Selangor,5,30,0,5.0,3,Slow
14991,e4da1c9e4,Cat,Ms Daym,9,Domestic Short Hair,Domestic Short Hair,Female,Yellow,White,White,...,Yes,Yes,Healthy,Johor,1,0,0,3.0,4,Slow
14992,a83d95ead,Dog,Fili,1,Mixed Breed,Mixed Breed,Male,Brown,Brown,Brown,...,No,No,Healthy,Negeri Sembilan,1,0,0,1.0,3,Slow

check if anything is wrong

In [53]:
df_processed.isnull().sum()

PetID                0
Type                 0
Name                 0
Age                  0
Breed1               0
Breed2               0
Gender               0
Color1               0
Color2               0
Color3               0
MaturitySize         0
FurLength            0
Vaccinated           0
Dewormed             0
Sterilized           0
Health               0
State                0
Quantity             0
Fee                  0
VideoAmt             0
PhotoAmt             0
AdoptionSpeed        0
AdoptionSpeedBool    0
dtype: int64

# 4. Export the data to a csv

In [54]:
import os
os.makedirs('datasett', exist_ok=True)
df_processed.to_csv('datasett/meow_cleaned.csv',index=True)
print("Exported to datasett/meow_cleaned.csv!")

Exported to datasett/meow_cleaned.csv!